body {
    font-family: Arial, sans-serif;
    background-color: #6069ddad;
    color: #333;
    text-align: center;
  }
  .container, .calculadora {
    max-width: 500px;
    margin: auto;
    padding: 20px;
  }  
  button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
  }
  button:hover {
    background-color: #0056b3;
  }
  input {
    text-align: center;
    margin: 10px;
    padding: 8px;
    width: 100px;
  }
  
